<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-dark">Submit a Post:</h2>
            <form class="rounded bg-info">
                <div class="form-group">
                    <label for="post-title" class="text-light">Enter the title of your post here</label>
                    <input type="text" class="form-control" id="post-title" placeholder="Enter title">
                </div>
                <div class="form-group">
                    <label for="post-contents" class="text-light">Enter the description of your post here</label>
                    <textarea type="text" class="form-control" id="post-contents" placeholder="Enter contents">
                </div>
                <button class="btn btn-warning big-button" type="submit">Submit your post</button>
            </form>
        </div>
    </div>
</div>

<script src="./js/posts"></script>