<div class="container">
    <div class="row">
        <div class="col-12">
            {{#if loggedIn}}
            <button type="button" class="btn btn-info btn-lg big-button my-1" id="logout-button">Logout</button>
            {{else}}
            <a href="/login"><button type="button" class="btn btn-info btn-lg big-button my-1">Login</button></a>
            <a href="/signup"><button type="button" class="btn btn-info btn-lg big-button my-1">Sign Up</button></a>
            {{/if}}
            {{#each posts as |post|}}
            <div class="card border border-dark rounder my-2">
                <div class="card-header bg-info text-light">
                    <h3>{{post.title}}</h3>
                    <p>Posted by {{post.created_by}} on {{post.date_created}}</p>
                </div>
                <div class="card-body">
                    <a href="/viewpost"><button type="button" class="btn btn-info btn-lg text-light big-button">View post</button></a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

<script src="./js/sign-in.js"></script>