<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="text-center">
                Hello there and welcome to the Tech Blog, a one-stop shop for research and community engagement within the world of coding. Through our easy-to-use interface you can send through any question you may have regarding a piece of code that you are working on and receive assistance from other users of this app. Menus are available to you for keeping track of your own posts to see if you have received any comments, as well as for general user activity so you may find the answers to your questions or provide answers to others. To get started, all you must do is either login or sign up with a username and password and this web of communal information is all yours.
            </p>
        </div>
    </div>
</div>