<div class="container">
    <div class="row">
        <div class="col-12">
            {{#each posts as |post|}}
            <div class="card border border-dark rounder">
                <div class="card-header bg-info text-light">
                    <h3>{{post.title}}</h3>
                    <p>Posted by {{post.created_by}} on {{post.date_created}}</p>
                </div>
                <div class="card-body">
                    <p>{{post.contents}}</p>
                    <a href="/viewpost"><button type="button" class="btn btn-info text-light big-button">View post</button></a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>