header {
    margin-bottom: 0;
    height: 75px;
    text-align: center;
}

h1 {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.big-button {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.form-text {
    margin-left: 20%;
}

.nav-links {
    display: inline;
    text-align: right;
}